name: Scan IPTV Ports from Local HTML

on:
  push:
    paths:
      - 'data/shushu_home.html' # 只有月球宿主更新了这个文件，才触发
  workflow_dispatch:           # 允许手动触发

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: 检出代码
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # 获取完整历史以方便推送

      - name: 设置 Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: 安装依赖
        run: pip install requests

      - name: 运行扫描脚本
        run: python py/zubo_final.py

      - name: 提交扫描结果
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"
          git add zubo/*
          git commit -m "自动更新组播列表: $(date)" || exit 0
          git push origin main
