name: Hotel IPTV Update

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */1 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      # 第一步：抓取最新原始文件
      - name: Run Scraper
        run: python py/hotel.py

      - name: Cleanup expired M3U files
        run: python py/cleanup_m3u.py

      - name: Run python py/merge_m3u.py
        run: python py/merge_m3u.py

      - name: Commit and push changes
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          
          git add .
          
          # 检查是否有内容需要提交
          if git diff --cached --quiet; then
            echo "没有发现变更，跳过提交。"
          else
            git commit -m "Auto update IPTV: $(date +'%Y-%m-%d %H:%M')"
            
            # --- 关键修改：添加拉取并变基 ---
            git pull --rebase origin main
            
            git push origin HEAD:main
          fi
