name: Update Zubo M3U

on:
  schedule:
    - cron: '0 22 * * *' # 每天北京时间早上6点运行 (UTC 22:00)
  workflow_dispatch:      # 允许手动点击运行

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        pip install requests

    - name: Run Update Script
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: python py/zubobsk.py

    - name: Commit and Push
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add zubo.m3u
        git commit -m "Auto-update zubo.m3u [$(date '+%Y-%m-%d %H:%M')]" || exit 0
        git push
