name: IPTV Detail Crawler

on:
  workflow_dispatch:
  schedule:
    - cron: '0 22 * * *'

jobs:
  run-spider:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies

        run: |
          pip install playwright
          playwright install chromium
          playwright install-deps chromium

      - name: Execute Script
        env:
          PYTHONUNBUFFERED: "1"
        run: python py/zubobsk.py

      - name: Upload Debug Files
        if: always() # 无论成功失败都上传，方便调试
        uses: actions/upload-artifact@v4
        with:
          name: debug-results
          path: |
            *.png
            detail_page.txt
