name: IPTV Auto Update

on:
  schedule:
    - cron: '0 22 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Selenium and Driver
        run: |
          pip install selenium webdriver-manager requests

      - name: Run Scraper
        run: |
          mkdir -p zubo
          python py/zubo.py
